.board {
    width: calc(65px * 8);
    height: calc(65px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: white;
}

.white {
    background-color: #e08c6f;
}
